In [1]:
import math

def area_of_circle(radius):
    return math.pi * radius * radius

r = float(input("Enter the radius of the circle: "))
area = area_of_circle(r)
print("Area of the circle =", area)

Enter the radius of the circle:  5

Area of the circle = 78.53981633974483

In [7]:
def count_vowels_consonants(text):
    vowels = "aeiouAEIOU"
    countv = 0
    countc = 0
    for char in text:
        if char in vowels:
            countv += 1
        else:
            countc +=1
    print(countc,countv)

string = input("Enter a string: ")
count_vowels_consonants(string)

Enter a string:  India

2 3

In [11]:
numbers = [30, 42, 56, 70, 45, 35]

result = []
for num in numbers:
    if num % 5 == 0:
        result.append(num - 5)
    else:
        result.append(num)

print("Original list:", numbers)
print("Modified list:", result)

Original list: [30, 42, 56, 70, 45, 35]
Modified list: [25, 42, 56, 65, 40, 30]

In [19]:
num = [23, 24, 45, 67, 99, 54, 20]

even = []
odd = []

for n in range(len(num)):
    if n % 2 == 0:
        even.append(num[n])
    else:
        odd.append(num[n])

print(even)
print(odd)

[23, 45, 99, 20]
[24, 67, 54]

In [5]:
numbers = [10, 15, 20, 25, 30, 35]

even_sum = 0
odd_sum = 0

for index, value in enumerate(numbers):
    if value % 2 == 0:
        even_sum += index
    else:
        odd_sum += index

print("Sum of indices of even elements:", even_sum)
print("Sum of indices of odd elements:", odd_sum)

Sum of indices of even elements: 6
Sum of indices of odd elements: 9

In [7]:
p = ['Mumbai', 'Hyderadad', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar', 'Danish']
l = [w for w in p if w.lower().startswith('d')]
print(l)

['delhi', 'Dubai', 'Dadar', 'Danish']

In [12]:
p = ['Mumbai', 'Hyderadad', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar', 'Danish']
u = [50, 40, 30, 20, 100, 350, 280, 200, 1907]
v = dict(zip(p , u))
print(v)

{'Mumbai': 50, 'Hyderadad': 40, 'delhi': 30, 'Dubai': 20, 'Jaipur': 100, 'Kolkata': 350, 'Chennai': 280, 'Dadar': 200, 'Danish': 1907}